<p id="notice"><%= notice %></p>

<p>
  <strong>Grocery list:</strong>
  <%= @grocery_item.grocery_list_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @grocery_item.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grocery_item.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @grocery_item.amount %>
</p>

<p>
  <strong>Active:</strong>
  <%= @grocery_item.active %>
</p>

<%= link_to 'Edit', edit_grocery_item_path(@grocery_item) %> |
<%= link_to 'Back', grocery_items_path %>
