<%= render "shared/notice", notice: notice %>

<h1 class="block w-full text-center text-xl mb-2 text-grey-600"><%= @grocery_list.name %></h1>

<section class="flex">
  <%= link_to 'Edit', edit_grocery_list_path(@grocery_list), class: "flex-1 mx-1 text-center block bg-yellow-500 hover:bg-yellow-700 uppercase p-1 rounded" %>
  <%= link_to 'Share', grocery_lists_path, class: "flex-1 mx-1 text-center block bg-yellow-500 hover:bg-yellow-700 uppercase p-1 rounded" %>
  <%= link_to 'Delete', @grocery_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "flex-1 mx-1 text-center block bg-yellow-500 hover:bg-yellow-700 uppercase p-1 rounded" %>
</section>

<%= turbo_stream_from @grocery_list %>
<div id="grocery_items">
 <%= render @grocery_items %>
</div>

<%= render partial: "grocery_items/form", locals: { grocery_list: @grocery_list, grocery_item: GroceryItem.new } %>