<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @grocery_list.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grocery_list.name %>
</p>

<%= link_to 'Edit', edit_grocery_list_path(@grocery_list) %> |
<%= link_to 'Back', grocery_lists_path %>
