<nav class="bg-purple-500">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex w-full">
          <% if user_signed_in? %>
            <%= link_to "My Lists", grocery_lists_path, class: "hover:bg-purple-700 px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to "New", new_grocery_list_path, class: "hover:bg-purple-700 px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "ml-auto hover:bg-purple-700 px-3 py-2 rounded-md text-sm font-medium" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "hover:bg-purple-700 px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to "Register", new_user_registration_path, class: "hover:bg-purple-700 px-3 py-2 rounded-md text-sm font-medium" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>