<p id="notice"><%= notice %></p>

<h1>User Grocery Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Grocery list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_grocery_lists.each do |user_grocery_list| %>
      <tr>
        <td><%= user_grocery_list.user_id %></td>
        <td><%= user_grocery_list.grocery_list_id %></td>
        <td><%= link_to 'Show', user_grocery_list %></td>
        <td><%= link_to 'Edit', edit_user_grocery_list_path(user_grocery_list) %></td>
        <td><%= link_to 'Destroy', user_grocery_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Grocery List', new_user_grocery_list_path %>
