<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_grocery_list.user_id %>
</p>

<p>
  <strong>Grocery list:</strong>
  <%= @user_grocery_list.grocery_list_id %>
</p>

<%= link_to 'Edit', edit_user_grocery_list_path(@user_grocery_list) %> |
<%= link_to 'Back', user_grocery_lists_path %>
