<!DOCTYPE html>
<html>
  <head>
    <title>Ourgroceries</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <section class="flex items-center h-screen w-full">
      <div class="w-1/2 m-auto bg-white rounded shadow-lg p-8 m-4">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
