<!DOCTYPE html>
<html>
  <head>
    <title>Ourgroceries</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <section class="flex h-screen w-full">
      <div class="w-full mx-auto bg-white rounded shadow-lg p-8 my-6 md:w-1/2">
        <% if flash[:notice] %>
          <%= render "shared/notice", notice: notice %>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
